In [2]:
import pandas as pd
import numpy as np
from entsog import EntsogPandasClient

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 100)
pd.options.mode.chained_assignment = None

start = pd.Timestamp('20210101', tz='Europe/Brussels')
end = pd.Timestamp('20221231', tz='Europe/Brussels')

client = EntsogPandasClient()

# df_operations = client.query_operational_data_all(start = start, end = end, indicators = ['physical_flow'])
# df_operations.to_csv(r'/Users/artemohotnikov/Downloads/__dont_delete/gzprm/raw_data_2.csv', index=False)

df_operations = pd.read_csv(r'/Users/artemohotnikov/Documents/__code/gzprm/ready_2/raw_data_2.csv')
df_operations.head(5)

,booking_platform_key,booking_platform_label,booking_platform_url,capacity_booking_status,capacity_type,data_set,direction_key,flow_status,general_remarks,id,id_point_type,indicator,interruption_calculation_remark,interruption_type,is_archived,is_cam_relevant,is_cmp_relevant,is_na,is_unlimited,item_remarks,last_update_date_time,operator_key,operator_label,original_period_from,period_from,period_to,period_type,point_key,point_label,point_type,restoration_information,tso_eic_code,tso_item_identifier,unit,url,value
0,PRISMA,NaN,https://platform.prisma-capacity.eu/,NaN,NaN,1,entry,Confirmed,NaN,1Physical Flowday2020-12-302020-12-31CZ-TSO-00...,0.0,Physical Flow,NaN,NaN,False,True,True,NaN,NaN,NaN,2021-02-16T15:59:09+01:00,CZ-TSO-0001,NET4GAS,NaN,2020-12-31T00:00:00+01:00,2021-01-01T00:00:00+01:00,day,ITP-00538,VIP Waidhaus NCG,Cross-Border Transmission IP within EU,NaN,21X000000001304L,21Z000000000489Y,kWh/d,https://transparency.entsog.eu/api/v1/operatio...,0.0
1,NaN,NaN,NaN,NaN,NaN,1,entry,Confirmed,NaN,1Physical Flowday2020-12-302020-12-31CZ-TSO-00...,6.0,Physical Flow,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2021-02-16T15:59:09+01:00,CZ-TSO-0001,NET4GAS,NaN,2020-12-31T00:00:00+01:00,2021-01-01T00:00:00+01:00,day,UGS-00446,VGS Moravia,Storage point,NaN,21X000000001304L,21Z000000000452K,kWh/d,https://transparency.entsog.eu/api/v1/operatio...,0.0
2,PRISMA,NaN,https://platform.prisma-capacity.eu/,NaN,NaN,1,entry,Confirmed,NaN,1Physical Flowday2020-12-302020-12-31CZ-TSO-00...,0.0,Physical Flow,NaN,NaN,False,True,True,NaN,NaN,NaN,2021-02-16T15:59:09+01:00,CZ-TSO-0001,NET4GAS,NaN,2020-12-31T00:00:00+01:00,2021-01-01T00:00:00+01:00,day,ITP-00537,VIP Brandov-GASPOOL,Cross-Border Transmission IP within EU,NaN,21X000000001304L,21Z0000000004863,kWh/d,https://transparency.entsog.eu/api/v1/operatio...,0.0
3,PRISMA,NaN,https://platform.prisma-capacity.eu/,NaN,NaN,1,exit,Confirmed,NaN,1Physical Flowday2020-12-302020-12-31CZ-TSO-00...,0.0,Physical Flow,NaN,NaN,False,True,True,NaN,NaN,NaN,2021-02-16T15:59:09+01:00,CZ-TSO-0001,NET4GAS,NaN,2020-12-31T00:00:00+01:00,2021-01-01T00:00:00+01:00,day,ITP-00538,VIP Waidhaus NCG,Cross-Border Transmission IP within EU,NaN,21X000000001304L,21Z000000000489Y,kWh/d,https://transparency.entsog.eu/api/v1/operatio...,0.0
4,NaN,NaN,NaN,NaN,NaN,1,exit,Confirmed,NaN,1Physical Flowday2020-12-302020-12-31CZ-TSO-00...,6.0,Physical Flow,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2021-02-16T15:59:09+01:00,CZ-TSO-0001,NET4GAS,NaN,2020-12-31T00:00:00+01:00,2021-01-01T00:00:00+01:00,day,UGS-00446,VGS Moravia,Storage point,NaN,21X000000001304L,21Z000000000452K,kWh/d,https://transparency.entsog.eu/api/v1/operatio...,0.0

In [3]:
df_operations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1430703 entries, 0 to 1430702
Data columns (total 36 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   booking_platform_key             498001 non-null   object
 1   booking_platform_label           0 non-null        float64
 2   booking_platform_url             498001 non-null   object
 3   capacity_booking_status          0 non-null        float64
 4   capacity_type                    0 non-null        float64
 5   data_set                         1430703 non-null  int64
 6   direction_key                    1430703 non-null  object
 7   flow_status                      1216914 non-null  object
 8   general_remarks                  0 non-null        float64
 9   id                               1430703 non-null  object
 10  id_point_type                    1216892 non-null  float64
 11  indicator                        1430703 non-null  object
 12  interruption_calculation_remark  0 non-null        float64
 13  interruption_type                0 non-null        float64
 14  is_archived                      1216914 non-null  object
 15  is_cam_relevant                  1188957 non-null  object
 16  is_cmp_relevant                  1188957 non-null  object
 17  is_na                            213789 non-null   float64
 18  is_unlimited                     0 non-null        float64
 19  item_remarks                     219403 non-null   object
 20  last_update_date_time            1430703 non-null  object
 21  operator_key                     1430703 non-null  object
 22  operator_label                   1430703 non-null  object
 23  original_period_from             213789 non-null   object
 24  period_from                      1430703 non-null  object
 25  period_to                        1430703 non-null  object
 26  period_type                      1430703 non-null  object
 27  point_key                        1430689 non-null  object
 28  point_label                      1430689 non-null  object
 29  point_type                       1216892 non-null  object
 30  restoration_information          0 non-null        float64
 31  tso_eic_code                     1430703 non-null  object
 32  tso_item_identifier              1430703 non-null  object
 33  unit                             1430703 non-null  object
 34  url                              1430703 non-null  object
 35  value                            1197857 non-null  float64
dtypes: float64(11), int64(1), object(24)
memory usage: 393.0+ MB

In [4]:
df_operations = df_operations.loc[(pd.isna(df_operations['value'])==False) & (df_operations['value']!=0) & (pd.isna(df_operations['point_type'])==False)]

df_operations['month'] = pd.to_datetime(df_operations['period_to'], utc=True).dt.month
df_operations['year'] = pd.to_datetime(df_operations['period_to'], utc=True).dt.year

df_operations = df_operations[['direction_key', 'id_point_type', 'point_type', 'operator_key', 'operator_label', 'period_to', 'month', 'year', 'point_key', 'point_label', 'tso_eic_code', 'tso_item_identifier', 'unit', 'value']]

df_operations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 716081 entries, 7 to 1430393
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   direction_key        716081 non-null  object
 1   id_point_type        716081 non-null  float64
 2   point_type           716081 non-null  object
 3   operator_key         716081 non-null  object
 4   operator_label       716081 non-null  object
 5   period_to            716081 non-null  object
 6   month                716081 non-null  int32
 7   year                 716081 non-null  int32
 8   point_key            716081 non-null  object
 9   point_label          716081 non-null  object
 10  tso_eic_code         716081 non-null  object
 11  tso_item_identifier  716081 non-null  object
 12  unit                 716081 non-null  object
 13  value                716081 non-null  float64
dtypes: float64(2), int32(2), object(10)
memory usage: 76.5+ MB

In [5]:
df_operations['value'] = pd.to_numeric(df_operations['value'], errors='coerce', downcast='float')

for col_name in ['id_point_type', 'month', 'year']:
    df_operations[col_name] = pd.to_numeric(df_operations[col_name], errors='coerce', downcast='integer')

df_operations.describe(include=[object])

,direction_key,point_type,operator_key,operator_label,period_to,point_key,point_label,tso_eic_code,tso_item_identifier,unit
count,716081,716081,716081,716081,716081,716081,716081,716081,716081,716081
unique,2,21,49,49,2485,563,570,49,553,1
top,exit,Cross-Border Transmission IP within EU,UK-TSO-0001,National Grid Gas,2021-02-09T06:00:00+01:00,ITP-00535,Deutschneudorf EUGAL Brandov,21X-GB-A-A0A0A-7,21Z0000000004839,kWh/d
freq,456154,182540,162584,162584,1080,7145,7145,162584,7145,716081

In [6]:
df_operations[['direction_key', 'point_type',
               'operator_key', 'operator_label',
               'point_key', 'point_label',
               'tso_eic_code', 'tso_item_identifier', 'unit', ]] = \
df_operations[['direction_key', 'point_type',
               'operator_key', 'operator_label',
               'point_key', 'point_label',
               'tso_eic_code', 'tso_item_identifier', 'unit', ]].astype('category')

df_operations.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
df_operations['period_to'] = pd.to_datetime(df_operations['period_to'], utc=True)
df_operations = df_operations.rename(columns={'period_to': 'date'})

df_operations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358443 entries, 0 to 358442
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   direction_key        358443 non-null  category
 1   id_point_type        358443 non-null  int8
 2   point_type           358443 non-null  category
 3   operator_key         358443 non-null  category
 4   operator_label       358443 non-null  category
 5   date                 358443 non-null  datetime64[ns, UTC]
 6   month                358443 non-null  int8
 7   year                 358443 non-null  int16
 8   point_key            358443 non-null  category
 9   point_label          358443 non-null  category
 10  tso_eic_code         358443 non-null  category
 11  tso_item_identifier  358443 non-null  category
 12  unit                 358443 non-null  category
 13  value                358443 non-null  float64
dtypes: category(9), datetime64[ns, UTC](1), float64(1), int16(1), int8(2)
memory usage: 11.0 MB

In [7]:
df_operations[['value_in_bln_m3']] = df_operations.loc[:,['value']] / (10.5 * 1_000_000_000)
df_operations['value_in_bln_m3'] = np.around(df_operations.loc[:,'value_in_bln_m3'],3)

df_operations.loc[df_operations['direction_key']=='exit','value_in_bln_m3'] = \
df_operations.loc[df_operations['direction_key']=='exit','value_in_bln_m3'].apply(lambda x: x * -1)

df_operations.reset_index(drop=True, inplace=True)

df_operations.head(5)

,direction_key,id_point_type,point_type,operator_key,operator_label,date,month,year,point_key,point_label,tso_eic_code,tso_item_identifier,unit,value,value_in_bln_m3
0,entry,2,LNG Entry point,UK-TSO-0001,National Grid Gas,2021-01-01 00:00:00+00:00,1,2021,LNG-00008,Isle of Grain,21X-GB-A-A0A0A-7,21YIG-EC-------X,kWh/d,2.151073e+08,0.020
1,entry,3,Aggregated production point - TP,UK-TSO-0001,National Grid Gas,2021-01-01 00:00:00+00:00,1,2021,PRD-00151,Barrow,21X-GB-A-A0A0A-7,21YBR-EC-------T,kWh/d,5.381314e+07,0.005
2,exit,18,Aggregated Point - Final Consumers,RO-TSO-0001,Transgaz,2021-01-01 04:00:00+00:00,1,2021,FNC-00010,Final Consumers (RO),21X-RO-A-A0A0A-S,21Z000000000319M,kWh/d,1.020988e+08,-0.010
3,exit,6,Storage point,RO-TSO-0001,Transgaz,2021-01-01 04:00:00+00:00,1,2021,UGS-00013,VIP Romgaz UGS (RO),21X-RO-A-A0A0A-S,21Y0000000000395,kWh/d,4.994134e+06,-0.000
4,entry,0,Cross-Border Transmission IP within EU,RO-TSO-0001,Transgaz,2021-01-01 04:00:00+00:00,1,2021,ITP-00032,Csanadpalota,21X-RO-A-A0A0A-S,21Z000000000236Q,kWh/d,1.516018e+06,0.000

In [ ]:
df_points = client.query_operator_point_directions()
df_points.head(3)

In [ ]:
df_operations = pd.merge(df_operations,
                         df_points[['point_key', 'direction_key', 'operator_key', 'adjacent_country']],
                         left_on = ['point_key','direction_key','operator_key'],
                         right_on = ['point_key','direction_key','operator_key'],
                         how='left')

df_operations.head(2)

,direction_key,id_point_type,point_type,operator_key,operator_label,date,month,year,point_key,point_label,tso_eic_code,tso_item_identifier,unit,value,value_in_bln_m3,adjacent_country
0,entry,2,LNG Entry point,UK-TSO-0001,National Grid Gas,2021-01-01 00:00:00+00:00,1,2021,LNG-00008,Isle of Grain,21X-GB-A-A0A0A-7,21YIG-EC-------X,kWh/d,215107272.0,0.020,UK
1,entry,3,Aggregated production point - TP,UK-TSO-0001,National Grid Gas,2021-01-01 00:00:00+00:00,1,2021,PRD-00151,Barrow,21X-GB-A-A0A0A-7,21YBR-EC-------T,kWh/d,53813144.0,0.005,UK

In [ ]:
countries_dict = {'RU':'Russia',
                  'TR':'Turkey',
                  'NO':'Norway',
                  'LY':'Libya',
                  'TN':'Tunisia',
                  'PL':'Poland',
                  'SK':'Slovakia',
                  'HU':'Hungary',
                  'RO':'Romania',
                  'MA':'Morocco',
                  'UK':'United Kingdom', #check
                  'RO':'Romania',
                  'DE':'Germany',
                  'IT':'Italy',
                  'ES':'Spain',
                  'HR':'Croatia',
                  'NL':'Netherlands',
                  'CZ':'Czech Republic',
                  'BE':'Belgium',
                  'BG':'Bulgaria',
                  'FR':'France',
                  'LV':'Latvia',
                  'PT':'Portugal',
                  'GR': 'Greece',
                  'LU':'Luxembourg',
                  'EE':'Estonia',
                  'MK':'Macedonia',
                  'CH':'Switzerland',
                  'RS':'Serbia',
                  'SM':'San Marino',
                  'MD':'Moldova',
                  'UA':'Ukraine',
                  'AT':'Austria',
                  'SI':'Slovenia',
                  'DK':'Denmark',
                  'LT':'Lithuania',
                  'IE':'Ireland',
                  'FI':'Finland'}

In [ ]:
df_operations = df_operations[df_operations['adjacent_country']!='UK']  # отбрасываю строки с точками по UK

df_operations = df_operations[df_operations['tso_item_identifier']
                              .isin(['21YSF-EC-------Q', '21YEA-EC-------9', '21Z0000000000074', '21Z000000000081T', '21Z000000000088F'])==False]

In [ ]:
df_operations_pipe_import = df_operations.loc[df_operations['id_point_type']==1]  # Cross-Border Transmission IP between EU and Non-EU (import)

df_operations_pipe_import['adjacent_country'] \
                          .mask(df_operations_pipe_import['point_key'] \
                          .isin(['ITP-00094', 'ITP-00104', 'ITP-00092', \
                                 'ITP-00432' , 'ITP-00433', 'ITP-00434']), 'RU', inplace=True) # PL: Kondratki, Tieterowka, Wysokoje; UA: Uzhgorod-2, Uzhgorod-3, Uzhgorod-4

df_operations_pipe_import['adjacent_country'] \
                          .mask(df_operations_pipe_import['point_key'] == 'ITP-00089', 'PL', inplace=True) # to UA from PL: Drozdovichi (UA)

df_operations_pipe_import.head(3)

,direction_key,id_point_type,point_type,operator_key,operator_label,date,month,year,point_key,point_label,tso_eic_code,tso_item_identifier,unit,value,value_in_bln_m3,adjacent_country
7,entry,1,Cross-Border Transmission IP between EU and No...,FI-TSO-0003,Gasgrid Finland,2021-01-01 04:00:00+00:00,1,2021,ITP-00024,Imatra,21X000000001393X,21Z000000000059M,kWh/d,61042640.0,0.006,RU
10,entry,1,Cross-Border Transmission IP between EU and No...,RO-TSO-0001,Transgaz,2021-01-01 04:00:00+00:00,1,2021,ITP-00087,Isaccea (RO) - Orlovka (UA) I,21X-RO-A-A0A0A-S,21Z000000000304Z,kWh/d,43758744.5,0.004,UA
15,exit,1,Cross-Border Transmission IP between EU and No...,UA-TSO-0001,Gas TSO UA,2021-01-01 04:00:00+00:00,1,2021,ITP-00089,Drozdovichi (UA) -Drozdowicze (PL),21X000000001397P,21Z000000000143X,kWh/d,127893299.3,-0.012,PL

In [ ]:
# Для транзита через Укр в Польшу, Румынию, Эстонию/Латвию и Венгрию убрать exit, точки: ITP-00087, ITP-00493, ITP-10006, ITP-10008   + ужгород ITP-00117   + марокко ITP-00082

df_operations_pipe_import.loc[(df_operations_pipe_import['point_key']\
                              .isin(['ITP-00087', 'ITP-00493', 'ITP-10006', 'ITP-10008', 'ITP-00117', 'ITP-00082'])) & 
                              (df_operations_pipe_import['direction_key'] == 'exit'),
                              'value_in_bln_m3'] =\
df_operations_pipe_import.loc[df_operations_pipe_import['point_key']\
                              .isin(['ITP-00087', 'ITP-00493', 'ITP-10006', 'ITP-10008', 'ITP-00117', 'ITP-00082']),
                              'value_in_bln_m3'].apply(lambda x: x * 0)

In [ ]:
# Ямал-Европа 

df_operations_pipe_import = pd.concat([df_operations_pipe_import,
                                      df_operations[(df_operations['point_label'].str.contains('Mallnow')) &
                                                    (df_operations['direction_key']=='entry')]])

In [ ]:
df_operations_pipe_import['country_name'] = ''

for index, row in df_operations_pipe_import.iterrows():

    if row['adjacent_country'] in ['RU', 'TR', 'NO', 'LY'] and row['tso_item_identifier'] \
        not in ['58Z-00000015-S2M', '21Z0000000004758']:  # исключаю турецкий поток и азербайджан, ниже присваиваю страну
        df_operations_pipe_import.at[index,'country_name'] = countries_dict[row['adjacent_country']]

    elif row['adjacent_country'] in ['UA', 'BY', 'MD', 'EE', 'PL', 'SK', 'HU', 'RO']:
        df_operations_pipe_import.at[index,'country_name'] = 'Russia' # транзит

    elif row['adjacent_country'] == 'ES' and row['tso_item_identifier'] == '21Z0000000002131': # В Испанию труба из Марокко, а газ из Алжир, т.е. объемы отдать Алжиру
        df_operations_pipe_import.at[index,'country_name'] = 'Algeria'

    elif row['adjacent_country'] == 'MA' and row['tso_item_identifier'] == '21Z000000000045X': # В Испанию труба из Марокко, а газ из Алжир, т.е. объемы отдать Алжиру
        df_operations_pipe_import.at[index,'country_name'] = 'Algeria'

    elif row['adjacent_country'] == 'TN' and row['tso_item_identifier'] == '21Z000000000080V':  # В Италию по точке mazara газ из Алжира
        df_operations_pipe_import.at[index,'country_name'] = 'Algeria'
        
    elif row['adjacent_country'] == 'IT' and row['tso_item_identifier'] == '21Z000000000149L':  # В Италию по точке gela газ из Ливии
        df_operations_pipe_import.at[index,'country_name'] = 'Libya'

    elif row['tso_item_identifier'] == '58Z-00000015-S2M':
        df_operations_pipe_import.at[index,'country_name'] = 'Russia'  # это турецкий поток

    elif row['point_key'] == 'ITP-00274':
        df_operations_pipe_import.at[index,'country_name'] = 'Azerbaijan'  # Kipoi  это Азербайджан

In [ ]:
# тут вручную проверял дубли строк по объемам вручную, выявлены следующие наборы лейблов-дублей:

# Greifswald / OPAL (ITP-00251), Greifswald / NEL (ITP-00247)  - эти оставить
# Greifswald / GUD (ITP-00491),  Greifswald / LBTG (ITP-00454), Greifswald / Fluxys Deutschland (ITP-00297)  - эти убрать
# 'Dornum / NETRA (OGE)', 'Dornum / NETRA (GUD)'  21Z000000000053Y - убрать
#  Dornum GASPOOL   21Z0000000004855   - оставить
# 'Emden (EPT1) (Thyssengas)' - убрать
# 'Emden (EPT1) (GTS)', 'Emden (EPT1) (GUD)', 'Emden (EPT1) (OGE)' - оставить

list_to_except = ['Dornum / NETRA (OGE)', 'Dornum / NETRA (GUD)',
                  'Emden (EPT1) (Thyssengas)',
                  'Greifswald / GUD', 'Greifswald / LBTG', 'Greifswald / Fluxys Deutschland']  # эти точки нужно выкинуть

# здесь сортировкой по парам id и лейбл ручной поиск
pairs = df_operations_pipe_import[['point_label', 'tso_item_identifier']]
pairs.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True)
pairs.sort_values('tso_item_identifier').head(20)

                             point_label tso_item_identifier
18                             Kondratki    21Z0000000000066
21                                Tarifa    21Z000000000045X
7                          Zeebrugge ZPT    21Z000000000046V
17                             Dunkerque    21Z000000000047T
35                    Emden (EPT1) (OGE)    21Z0000000000503
..                                   ...                 ...
25                              Wysokoje    21Z000000000136U
2   Drozdovichi (UA)  -Drozdowicze (PL)     21Z000000000143X
33             Emden (EPT1) (Thyssengas)    21Z000000000145T
24                                  Gela    21Z000000000149L
22                              Kotlovka    21Z000000000156O

[20 rows x 2 columns]

In [ ]:
df_operations_pipe_import = df_operations_pipe_import[df_operations_pipe_import['point_label'].isin(list_to_except)==False]  # убираю дубли

df_operations_pipe_import.loc[df_operations_pipe_import['point_key'] == 'ITP-00089','value_in_bln_m3'] = \
df_operations_pipe_import.loc[df_operations_pipe_import['point_key'] == 'ITP-00089','value_in_bln_m3'].apply(lambda x: x * -1)
# Drozdovichi (UA)  -Drozdowicze (PL)   ITP-00089  инвертировать exit и entry

In [ ]:
df_operations_pipe_import['country_name'].unique() # проверка на страны, чей газ ходит через импорт.точки

In [ ]:
# Uzhgorod-3  21Z0000000003867, Uzhgorod-4 21Z0000000003875, Uzhgorod-2 21Z0000000003859 по точкам есть только exit, НЕ УЧИТЫВАТЬ

df_operations_pipe_import = df_operations_pipe_import[df_operations_pipe_import['tso_item_identifier'].isin(['21Z0000000003867', '21Z0000000003875', '21Z0000000003859'])==False]

In [ ]:
# проверка в GWh для сверки с https://gasdashboard.entsog.eu/ по месяцам

df_operations_pipe_import['value_in_GWh'] = df_operations_pipe_import['value_in_bln_m3'] * 10.5 * 1_000

df_operations_pipe_import[df_operations_pipe_import['country_name']=='Norway'] \
                         [['point_key', 'country_name', 'year', 'month', 'value_in_GWh']] \
                         .groupby(by=['point_key', 'country_name', 'year', 'month']).sum()

                                   value_in_GWh
point_key country_name year month
ITP-00045 Norway       2021 1           16999.5
                            2           13524.0
                            3           13461.0
                            4           13135.5
                            5           14133.0
...                                         ...
ITP-00525 Norway       2022 10          22575.0
                            11          20842.5
                            12          20065.5
ITP-00630 Norway       2022 11             42.0
                            12           3706.5

[145 rows x 1 columns]

In [ ]:
df_operations_pipe_import[df_operations_pipe_import['point_key']=='ITP-00160']['point_label'].unique() # для поиска лейбла по ключу лейбла

['Emden (EPT1) (GTS)']
Categories (570, object): [''s Gravenvoeren Dilsen (BE) // 's Gravenvoere..., 'Aberdeen', 'Achim II', 'Aggregate Consumers H-Gas (Thyssengas)', ..., 'Zone UGS EWE L-Gas', 'Zuidwending', 'Überackern ABG (AT) / Überackern (DE)', 'Überackern SUDAL (AT) / Überackern 2 (DE)']

In [ ]:
df_operations_pipe_import.drop(labels='value_in_GWh', axis=1, inplace=True)
df_operations_pipe_import.head(3)

,direction_key,id_point_type,point_type,operator_key,operator_label,date,month,year,point_key,point_label,tso_eic_code,tso_item_identifier,unit,value,value_in_bln_m3,adjacent_country,country_name
7,entry,1,Cross-Border Transmission IP between EU and No...,FI-TSO-0003,Gasgrid Finland,2021-01-01 04:00:00+00:00,1,2021,ITP-00024,Imatra,21X000000001393X,21Z000000000059M,kWh/d,61042640.0,0.006099,RU,Russia
10,entry,1,Cross-Border Transmission IP between EU and No...,RO-TSO-0001,Transgaz,2021-01-01 04:00:00+00:00,1,2021,ITP-00087,Isaccea (RO) - Orlovka (UA) I,21X-RO-A-A0A0A-S,21Z000000000304Z,kWh/d,43758744.5,0.004066,UA,Russia
15,exit,1,Cross-Border Transmission IP between EU and No...,UA-TSO-0001,Gas TSO UA,2021-01-01 04:00:00+00:00,1,2021,ITP-00089,Drozdovichi (UA) -Drozdowicze (PL),21X000000001397P,21Z000000000143X,kWh/d,127893299.3,0.012199,PL,Russia

In [ ]:
df_operations_lng_import = df_operations.loc[df_operations['id_point_type']==2]
df_operations_lng_import[['adjacent_country', 'country_name']] = 'LNG'

df_operations_lng_import[['year', 'value_in_bln_m3']].groupby(by='year').sum()

# проверка суммы импорта по годам всего в европу без UK по трубам

In [ ]:
df_operations_eu_production = df_operations.loc[df_operations['id_point_type']==3]  # Aggregated production point - TP

df_operations_eu_production.loc[pd.isna(df_operations_eu_production['adjacent_country']),'adjacent_country'] = \
df_operations_eu_production.loc[pd.isna(df_operations_eu_production['adjacent_country']),'operator_key'].apply(lambda x: x[:2])

df_operations_eu_production = df_operations_eu_production[df_operations_eu_production['direction_key']=='entry']
df_operations_eu_production.drop_duplicates(subset=None, keep='first', inplace=True, ignore_index=True) # по Италии дубли

df_operations_eu_production.loc[df_operations_eu_production['point_key'] \
                                .isin(['PRD-00202', 'PRD-00234', 'PRD-00240', 'PRD-00168', 'PRD-00200', 'PRD-00243']), 'value_in_bln_m3'] = \
df_operations_eu_production.loc[df_operations_eu_production['point_key'] \
                                .isin(['PRD-00202', 'PRD-00234', 'PRD-00240', 'PRD-00168', 'PRD-00200', 'PRD-00243']), 'value_in_bln_m3'] \
                                .apply(lambda x: x * 0)  # сбрасываю дубли по Германии

df_operations_eu_production['country_name'] = ''

for index, row in df_operations_eu_production.iterrows():
    if row['adjacent_country'] in list(countries_dict.keys()):
        df_operations_eu_production.at[index,'country_name'] = countries_dict[row['adjacent_country']]
    else:
        df_operations_eu_production.at[index,'country_name'] = ''

df_operations_eu_production[['year','country_name','value_in_bln_m3']] \
                            .groupby(by=['year','country_name']).sum()   # проверка страны-производители

                   value_in_bln_m3
year country_name
2021 Croatia                 0.721
     Germany                 1.140
     Hungary                 1.996
     Italy                   3.203
     Netherlands            23.421
...                            ...
2022 Italy                   3.157
     Netherlands            16.727
     Poland                  2.394
     Romania                 8.508
     Spain                   0.000

[16 rows x 1 columns]

In [ ]:
df_operations_eu_storage = df_operations.loc[df_operations['id_point_type']==6.0]  # Storage point

df_operations_eu_storage.loc[pd.isna(df_operations_eu_storage['adjacent_country']),'adjacent_country'] = df_operations_eu_storage.loc[pd.isna(df_operations_eu_storage['adjacent_country']),'operator_key'].apply(lambda x: x[:2])

df_operations_eu_storage['country_name'] = ''

for index, row in df_operations_eu_storage.iterrows():
    if row['adjacent_country'] in list(countries_dict.keys()):
        df_operations_eu_storage.at[index,'country_name'] = countries_dict[row['adjacent_country']]
    else:
        df_operations_eu_storage.at[index,'country_name'] = ''

df_operations_eu_storage['country_name'].unique() #проверка на страны с задействованными ПГХ

array(['Romania', 'Germany', 'Czech Republic', 'Belgium', 'Bulgaria',
       'France', 'Italy', 'Netherlands', 'Hungary', 'Latvia', 'Poland',
       'Croatia', 'Spain', 'Portugal'], dtype=object)

In [ ]:
df_operations_eu_consumption = df_operations.loc[df_operations['id_point_type']==18.0] # Aggregated Point - Final Consumers

df_operations_eu_consumption.loc[pd.isna(df_operations_eu_consumption['adjacent_country']),'adjacent_country'] = \
    df_operations_eu_consumption.loc[pd.isna(df_operations_eu_consumption['adjacent_country']),'operator_key'].apply(lambda x: x[:2])

df_operations_eu_consumption['country_name'] = ''

for index, row in df_operations_eu_consumption.iterrows():
    if row['adjacent_country'] in list(countries_dict.keys()):
        df_operations_eu_consumption.at[index,'country_name'] = countries_dict[row['adjacent_country']]
    else:
        df_operations_eu_consumption.at[index,'country_name'] = ''

df_operations_eu_consumption['country_name'].unique() #проверка на страны, по которым есть данные о потреблении

array(['Romania', 'Belgium', 'Germany', 'Bulgaria', 'Greece', 'Latvia',
       'Netherlands', 'Hungary', 'Italy', 'Croatia', 'Portugal', 'France',
       'Spain', 'Poland', 'Luxembourg', 'Estonia'], dtype=object)

In [ ]:
df_import_overall = pd.concat([df_operations_pipe_import,
                               df_operations_lng_import])

df_import_overall = df_import_overall[['country_name', 'date', 'month', 'year', 'value_in_bln_m3']]
df_import_overall['type'] = 'import'

In [ ]:
df_operations_eu_production = df_operations_eu_production[['country_name', 'date', 'month', 'year', 'value_in_bln_m3']]
df_operations_eu_production['type'] = 'domestic_production'

In [ ]:
df_operations_eu_storage_overall = df_operations_eu_storage[['country_name', 'date', 'month', 'year', 'value_in_bln_m3']]

df_operations_eu_storage_overall.loc[:,'value_in_bln_m3'] = df_operations_eu_storage_overall.loc[:,'value_in_bln_m3'].apply(lambda x: x * -1)

df_operations_eu_storage_overall['type'] = 'storage'

In [ ]:
df_eu_gas = pd.concat([df_operations_eu_storage_overall,
                       df_operations_eu_production,
                       df_import_overall])

df_eu_gas['lng/pipe'] = df_eu_gas['country_name'].apply(lambda x: 'LNG' if x == 'LNG' else 'Pipeline gas')
df_eu_gas['season'] = df_eu_gas['month'].apply(lambda x: 'winter' if x in [10,11,12,1,2,3] else 'summer')

df_eu_gas.reset_index(drop=True, inplace=True)

df_eu_gas.to_csv(r'/Users/artemohotnikov/Documents/__code/gzprm/ready_2/df_eu_gas.csv', index=False)